{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
<div class="container mt-4 ">
    <h1>Mes Ingredients</h1>
    
    <div class="count d-flex justify-content-center mt-4">
       Il y a  {{ ingredients.getTotalItemCount }} ingredients au total
    </div>
    
    <table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Nom</th>
      <th scope="col">prix</th>
      <th scope="col">Date de creation</th>
    </tr>
  </thead>
  <tbody>

  {% for ingredient in ingredients %}   
    <tr class="table-primary mt-4">
    <th scope="row">{{ingredient.id}}</th>
        <td><p>{{  ingredient.name}}</p></td>
        <td>{{ ingredient.price }}</td>
        <td>{{ ingredient.createdAt | date('d/m/Y') }}</td>
    </tr>
            
        
    {% endfor %}
    
  </tbody>
</table>
 <div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(ingredients) }}
</div>
    
    

</div>
{% endblock %}
